streamlit==1.44.1
openai==1.14.3
python-dotenv==1.0.1
PyYAML==6.0.2
semantic-text-splitter==0.25.1
faiss-cpu==1.7.4
scikit-learn==1.4.2
tqdm==4.66.2
pypdf==3.17.4
python-docx==1.1.0
pandas==2.2.3
xlrd==2.0.1s

# Install Instructions:
# After downloading, run the following command in your terminal:
# 
# pip install -r requirements.txt
